<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/element.css">
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../config.js"></script>
  <script src="../vendor/browser-polyfill.js"></script>
  <script src="../vendor/vue.js"></script>
  <script src="../vendor/vuex.js"></script>
  <script src="../vendor/element.js"></script>
  <script src="../vendor/axios.js"></script>
  <script src="../vendor/internationalization.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <div id="main-view" v-if="showMainView">
      <ul>
        <li>
          <a @click="openUrl('https://botcheck.me')" href="#" target="_blank" >{{i('popup_site')}}</a>
        </li>
        <li>
          <a @click="openUrl('https://medium.com/@robhat/identifying-propaganda-bots-on-twitter-5240e7cb81a9')" href="#" target="_blank">
            {{i('popup_howThisWorks')}}
          </a>
        </li>
        <li>
          <a @click="openUrl('http://twitter.com/theashbhat')" href="#" target="_blank">{{i('popup_follow')}}</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" @click="openWhitelist">{{i('popup_viewWhitelist')}}</a>
        </li>
        <li>
          <a href="#" @click="openLanguageOptions">{{i('popup_viewLanguageOptions')}}</a>
        </li>
      </ul>
    </div>
    <div id="options-view" v-if="showWhitelistView">
      <div class="options-header">
        <div class="options-header-text">{{i('popup_whitelistedAccounts')}}</div>
        <div class="options-go-back" @click="closeWhitelist">
          <i class="el-icon-back"></i>
        </div>
      </div>
      <div class="options-table">
        <div class="options-table-inner">
          <div class="options-empty" v-if="Object.keys(whitelist).length < 1">
            {{i('popup_emptyWhitelist')}}
          </div>
          <div v-for="(value, key) in whitelist" class="options-item">
            <div class="options-item-real-name">{{value.realName}}</div>
            <div class="options-item-handle">@{{key}}</div>
            <div class="un-whitelist-item" @click="removeFromWhitelist(key)">
              <i class="el-icon-close"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="options-view" v-if="showLanguageOptionsView">
      <div class="options-header">
        <div class="options-header-text">{{i('popup_languageMenuTitle')}}</div>
        <div class="options-go-back" @click="closeLanguageOptions">
          <i class="el-icon-back"></i>
        </div>
      </div>
      <div class="options-table language-options-table">
        <div class="options-table-inner">
          <div v-for="language in languageList" class="options-item" @click="chooseLanguage(language.lang)">
            <div class="options-item-real-name">{{language.langName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="popup.js"></script>
</body>

</html>
