<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/element.css">
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../vendor/browser-polyfill.js"></script>
  <script src="../vendor/vue.js"></script>
  <script src="../vendor/vuex.js"></script>
  <script src="../vendor/element.js"></script>
</head>

<body>
  <div id="app">
    <div id="main-view" v-if="showMainView">
      <ul>
        <li>
          <a @click="openUrl('https://botcheck.me')" href="#" target="_blank" >Botcheck.me Site</a>
        </li>
        <li>
          <a @click="openUrl('https://medium.com/@robhat/identifying-propaganda-bots-on-twitter-5240e7cb81a9')" href="#" target="_blank">
            How This Works
          </a>
        </li>
        <li>
          <a @click="openUrl('http://twitter.com/theashbhat')" href="#" target="_blank">Follow Us for Updates</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" @click="openWhitelist">View Whitelist</a>
        </li>
      </ul>
    </div>
    <div id="whitelist-view" v-if="showWhitelistView">
      <div class="whitelist-header">
        <div class="whitelist-header-text">Whitelisted Accounts</div>
        <div class="whitelist-go-back" @click="closeWhitelist">
          <i class="el-icon-back"></i>
        </div>
      </div>
      <div class="whitelist-table">
        <div class="whitelist-table-inner">
          <div class="whitelist-empty" v-if="Object.keys(whitelist).length < 1">
            No users have been whitelisted so far!
          </div>
          <div v-for="(value, key) in whitelist" class="whitelist-item">
            <div class="whitelist-item-real-name">{{value.realName}}</div>
            <div class="whitelist-item-handle">@{{key}}</div>
            <div class="un-whitelist-item" @click="removeFromWhitelist(key)">
              <i class="el-icon-close"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="popup.js"></script>
</body>

</html>
