/*body {
  background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
}*/

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.temp{
  position: fixed;
  background: white;
  width: 80%;
  margin-left: 10%;
  height: 220px;
  text-align: center;
  margin-top: 90px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  color: white;
  overflow: hidden;
}

.temp:hover{
  background-color: #F6F8FA;
}
.classification_title{
  background: #4AA0EC;
  font-size: 30px;
  height: 10px;
}

.header_text{
  color: #616F7B;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  font-family: Arial;
  margin-top: 20px;
  padding-left: 40px;
}

.button_holder{
  margin-top: 20px;
}

.share_button{
  background-color: #35ABED;
  border: 2px solid #35ABED;
  color: #fff;
  padding: 3px;
  border-radius: 6px;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  width: 100px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.share_button:hover{
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

.disagree_button{
  border: 2px solid #e74c3c;
  color: #e74c3c;
  border-radius: 6px;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  width: 100px;
  padding: 3px;
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.disagree_button:hover{
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

.dismiss_button{
  color: grey;
  font-size: 15px;
  float: right;
  margin-right: 40px;
  width: 100px;
  padding: 3px;
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
  border: 2px solid grey;
  border-radius: 6px;
}
.dismiss_button:hover{
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

.subheader_text{
  color: grey;
  font-size: 16px;
  text-align: left;
  font-family: Arial;
  margin-top: 10px;
  padding-left: 40px;
  margin-right: 30px;
}

.links_bbb{
  margin-top: 5px;
  text-align: left;
}
.links_bbb:link{
  color: #616F7B;
}

.profile_img{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin-top: 10px;
  text-align: left;
  float: left;
  margin-left: 20px;
  margin-right: 30px;
}

.botbackground{
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 10000px;
  z-index: 100000;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


.main{
  width: 200px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.BotButton{
  background: #35ABED;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  font-size: 12px;
}
.button:hover {
  background-color: #3e8e41
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.BotButton:o{

}

.BigBotButton{
  background: #35ABED;
  color: white;
  padding: 5px;
  border-radius: 25px;
  font-size: 12px;
}
