body {
  margin: 0;
  padding: 1em;
  color: #c0c5e3;
  background-color: #333751;
}

a:active,
a:visited,
a:hover,
a:focus,
a {
  color: #c0c5e3;
  outline: none;
}

#app {
  width: 320px;
  font-size: 15px;
}
